* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $roboto;
}

.wrapper {
  max-width: 540px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.fas {
  color: $drab;
}

button {
  transition: all 300ms;
  border: none;
  background: none;
}
