// theme colors
$sage: #87bcbf !default;
$rust: #d97d54 !default;
$drab: #324755 !default;
$danger: #d95454 !default;
$onyx: #1b1c20 !default;
$slate: #6e8ca0 !default;
$snow: #ffffff !default;
$ice: #f0f3f4 !default;
$fossil: #c8d1d3 !default;
$sand: #b9b0a2 !default;
$lightgray: #eceff0 !default;
$darkgray: #707070 !default;

// fonts
$roboto: Roboto !default;

// font sizes
$font-size-sm: 14px !default;
$font-size-md: 15px !default;
$font-size-lg: 18px !default;
$font-size-xl: 20px !default;
$font-size-xxl: 30px !default;

//spacing
$base-padding: 10px !default;

$padding-size-sm: $base-padding * 1.5 !default;
$padding-size-md: $base-padding * 2 !default;
$padding-size-lg: $base-padding * 2.5 !default;
$padding-size-xl: $base-padding * 3 !default;
