// theme colors
$sage: #87bcbf !default;
$rust: #d97d54 !default;
$drab: #324755 !default;
$danger: #d95454 !default;
$onyx: #1b1c20 !default;
$slate: #6e8ca0 !default;
$snow: #ffffff !default;
$ice: #f0f3f4 !default;
$fossil: #c8d1d3 !default;
$sand: #b9b0a2 !default;
